/* Basics */

body {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 1vw;
  line-height: 1.5;
}

section {
  padding: 10vw;
}

.heading {
  font-size: 2vw;
}

.subheading {
  font-size: 1.3vw;
}

/* header */
#NavigationBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px white solid;
  height: 4vh;
}
.navbar_area {
  border: blanchedalmond 1px solid;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  /* or
    justify-content: space-between; */
  font-family: "Taviraj", serif;
  font-size: 1.5rem;
  margin: auto;
  padding: 0px 0px 0px 0px;
}

#NavBarAreaLeft {
  width: 20vw;
}

#NavBarAreaCenter {
  width: 60vw;
}

#NavBarAreaRight {
  width: 20vw;
}

/* HeroPage */
#HeroPage {
  position: relative;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
#herovideo {
  position: relative;
  top: 0;
  z-index: -1;

  height: 100%;
  width: 177.77777778vh;
  min-width: 100%;
  min-height: 56.25vw;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: rgb(173, 173, 173);
  filter: grayscale(100%);
}

#herocontent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#herocontent-1 {
  font-family: "Taviraj", serif;
  font-size: 1.5vw;
  -webkit-text-stroke: 1px black;
}

#herocontent-2 {
  font-family: "Taviraj", serif;
  font-size: 5vw;
  -webkit-text-stroke: 1px black;
}

/* WhyBJJ */
#WhyBJJ {
  background-color: rgb(25, 25, 25);
  font-family: "Roboto Mono", monospace;
}
#whybjjheading {
  margin-bottom: 1vw;
}

#whybjjcontent {
  display: flex;
  justify-content: center;
}

.whybjjitem {
  margin: 0.5vw;
  width: 15vw;
}
.WhybjjIcon {
  filter: invert(1);
  margin: auto;
  height: 6vw;
  width: 6vw;
  background-size: cover;
  background-position: center;
}
.whybjjitemsubheadung {
  margin-bottom: 0.1vw;
}

#whybjjicon-1 {
  background-image: url(../images/icons/Icon1.png);
}
#whybjjicon-2 {
  background-image: url(../images/icons/Icon2.png);
}
#whybjjicon-3 {
  background-image: url(../images/icons/Icon3.png);
}
#whybjjicon-4 {
  background-image: url(../images/icons/Icon4.png);
}
#whybjjicon-5 {
  background-image: url(../images/icons/Icon5.png);
}
/* Parallax1 */
#Parallax1 {
  background-image: url(../images/parallax1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

/* Schedule */
#Schedule {
  background-color: rgb(25, 25, 25);
  font-family: "Roboto Mono", monospace;
}
#scheduleheading {
  margin-bottom: 1vw;
}

.schedulerow {
  display: flex;
  justify-content: center;
}

.schedulecontent {
  margin: 1vw;
  width: 10vw;
}

/* Trainers */
#Our_Trainer {
  font-family: "Roboto Mono", monospace;
  background-color: rgb(25, 25, 25);
  padding-top: 1vw;
  padding-bottom: 0.3vw;
}

#Trainers {
  padding: 0;
  display: flex;
  justify-content: space-around;
  background-color: rgb(25, 25, 25);
}
.trainer {
  height: 50vw;
  width: 32vw;
}
.TrinerName {
  font-family: "Roboto Mono", monospace;
}
#trainer1 {
  background-image: url(../images/Trainers/trainer1.jpg);
  background-size: cover;
  background-position: center;
}

#trainer2 {
  background-image: url(../images/Trainers/trainer2.png);
  background-size: cover;
  background-position: center;

  width: 33.4vw;
}
#trainer3 {
  background-image: url(../images/Trainers/trainer3.png);
  background-size: cover;
  background-position: center;
}

.trainer:hover {
  filter: grayscale(100%);
}

.trainerinfocontainer {
  background-color: rgba(31, 31, 31, 0.5);
  height: 50vw;
  opacity: 0;
  transition-duration: 0.3s;
}

.trainerinfocontainer:hover {
  opacity: 1;
}

.tranerinfocontent {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Parallax2 */
#Parallax2 {
  background-image: url(../images/parallax2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}



/* Contact Form */
#contact_form {
  background-color: rgb(25, 25, 25);
  padding-top: 1vw;
  padding-bottom: 2vw;
}


/* ContactUs */
#ContactUs {
  background-color: rgb(25, 25, 25);
  display: flex;
  justify-content: space-around;
}

#contact-header {
  font-family: "Roboto Mono", monospace;
  background-color: rgb(25, 25, 25);
  padding-top: 1vw;
  padding-bottom: 0.3vw;
}
/* #full_width{
  border: green 1px solid;
} */

#contact-info {
  /* border: 1px solid white; */
  height: 20vw;
  /* width: 80vw; */
}
.contactcontainer {
  /* border: white 1px solid; */
  height: 30vw;
  width: 39vw;
  /* display: flex; */
  padding: 1rem 0 1rem 0;
}


.contact_content{
  height: 28vw;
  width: 100%;
  padding: 0.5vw 0vw 0.5vw 0vw;
}

#map_frame {
  height: 25vw;
  width: 39vw;
  
}

#contactcontent {
  /* border: white 1px solid; */
  margin-top: 10px;
  margin-left: 65px;
  /* position: relative; */
  /* left: 50%; */
  /* top: 50%; */
  /* transform: translate(-50%, -50%); */
}

.form_area{
  width: 30vw;
  margin: auto;
}
.map{
        /* background-color: red; */
        height: 30vw;
        width: 30vw;
        /* border: black 2px solid; */
    }

#SignUPArea{
  /* border: white 1px solid; */
  height: 30vw;
  width: 40vw;
  display: block;
  padding: 1rem 1rem 1rem 1rem;
}

.Signup_form{
  /* border: white 1px solid; */
  font-family: "Roboto Mono", monospace;
  padding: 0 0 0 0;
}

#namephone{
  display: flex;
  justify-content: space-between;
}

#MessageArea{
  display: flex;
  
}

.namephonefield{
  height: 2vw;
  width: 20vw;
  /* margin: auto; */
}

/* Copy rights */
#line{
  border:white 0.1px solid;
  width: 90vw;
  margin: auto;
}

#copyrights{
  background-color: rgb(25, 25, 25);
  font-family: "Roboto Mono", monospace;
}
/* alert */
#alert {
  padding: 5px;
  position: fixed;
  left: 2vw;
  bottom: 2vw;
  background-color: red;
}
