/* Basics */

body {
	margin: 0;
	color: white;
	text-align: center;
	font-size: 1vw;
	font-family: "Roboto";
	line-height: 1.5;
}

a{
	text-decoration: none;
	color: white;
}

section {
	padding: 10vw;
}

.heading {
	font-size: 2vw;
}

.subheading {
	font-size: 1.3vw;
}

.bgcolor{
	background-color: rgb(25, 25, 25);
}

/* header */
/* header{
  position: fixed;
  z-index: 10;
} */

#NavigationBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px white solid;
  height: 4vh;
  margin: auto;
  z-index: 5 ;
}



/* header */

#NavigationBar {
	position: fixed;
	height: 6vw;
	width: 60vw;
	padding-left: 20vw;
	padding-right: 20vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 1vw;
	transition-duration: 0.3s;
	background-color: rgba(0, 0, 0, 0);
	z-index: 10;
}
	#menulogo{
		height: 4vw;
		width: 4vw;
		transition-duration: 0.3s;
	}
		#MenuItem-3image{
			height: 100%;
			width: 100%;
		}




/* HeroPage */

#HeroPage {
	position: relative;
	padding: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	font-family: "Taviraj";
}
	#herovideo {
		position: relative;
		top: 0;
		z-index: -1;
		height: 100%;
		width: 177.77777778vh;
		min-width: 100%;
		min-height: 56.25vw;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background-color: rgb(173, 173, 173);
		filter: grayscale(100%);
	}
		#herocontent {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			-webkit-text-stroke: 1px rgba(0, 0, 0, 0.25);
		}
			#herocontent-1 {
				font-size: 1.5vw;
			}
			#herocontent-2 {
				font-size: 5vw;
			}




/* WhyBJJ */

#whybjjheading {
	margin-bottom: 3vw;
}
#whybjjcontent {
	display: flex;
	justify-content: center;
}
	.whybjjitem {
		width: 15vw;
	}
		.WhybjjIcon {
			filter: invert(1);
			margin: auto;
			margin-bottom: 1vw;
			height: 2vw;
			width: 2vw;
			background-size: cover;
			background-position: center;
		}
			#whybjjicon-1 {
				background-image: url(../images/icons/Icon1.png);
			}
			#whybjjicon-2 {
				background-image: url(../images/icons/Icon2.png);
			}
			#whybjjicon-3 {
				background-image: url(../images/icons/Icon3.png);
			}
			#whybjjicon-4 {
				background-image: url(../images/icons/Icon4.png);
			}
			#whybjjicon-5 {
				background-image: url(../images/icons/Icon5.png);
			}
		.whybjjitemsubheadung {
			margin-bottom: 0.5vw;
		}




/* Parallax1 */

#Parallax1 {
	height: 10vw;
	background-image: url(../images/parallax1.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}




/* Schedule */

#Schedule {
	background-color: rgb(25, 25, 25);
}
	#scheduleheading {
		margin-bottom: 2vw;
	}
	.schedulerow {
		display: flex;
		justify-content: center;
	}
		.schedulecontent {
			margin: 1vw;
			width: 10vw;
		}




/* Trainers */

#Trainers {}
	#trainersheading {
		margin-bottom: 3vw;
	}
	#trainerscontent{
		display: flex;
		justify-content: space-between;
	}
		.trainer {
			height: 30vw;
			width: 22vw;
			background-size: cover;
			background-position: center;
			position: relative;
			overflow: hidden;
		}
		.trainer:hover {
			filter: grayscale(100%);
		}
		.trainer:hover .trainerinfocontainer{
			opacity: 1;
		}
		#trainer1 {
			background-image: url(../images/Trainers/trainer1.jpg);
		}
		#trainer2 {
			background-image: url(../images/Trainers/trainer2.png);
		}
		#trainer3 {
			background-image: url(../images/Trainers/trainer3.png);
		}
			.trainerinfocontainer {
				position: relative;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 18vw;
				opacity: 0;
				transition-duration: 0.3s;
			}
				.TrinerName{
					margin-bottom: 1vw;
				}
				.TrainerData{}




/* Parallax2 */

#Parallax2 {
	height: 10vw;
	background-image: url(../images/parallax2.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}




/* Contact Form */

#contact_form {
	padding-top: 1vw;
	padding-bottom: 2vw;
}




/* ContactUs */

#ContactUs {
	display: flex;
	justify-content: space-around;
}

#contact-header {
	font-family: "Roboto Mono", monospace;
	padding-top: 1vw;
	padding-bottom: 0.3vw;
}

.contactcontainer {
	border: white 1px solid;
	height: 30vw;
	width: 39vw;
	padding: 1rem 0 1rem 0;
}


.contact_content{
	height: 28vw;
	width: 100%;
	padding: 0.5vw 0vw 0.5vw 0vw;
}

#map_frame {
	height: 25vw;
	width: 39vw;
	
}

.form_area{
	width: 30vw;
	margin: auto;
}
.map{
				height: 30vw;
				width: 30vw;
		}

#SignUPArea{
	height: 30vw;
	width: 40vw;
	display: block;
	padding: 1rem 1rem 1rem 1rem;
}

form{
	height: 8vw;
}
.Signup_form{
	font-family: "Roboto Mono", monospace;
	padding: 0 0 0 0;
}

#namephone{
	display: flex;
	justify-content: space-between;
}

#MessageArea{
	display: flex;
	
}

.namephonefield{
	height: 2vw;
	width: 20vw;
}
.contact_area_line{
	border:white 0.1px solid;
	width: 30vw;
	margin: auto;
}


/* Sponsors/Partner */
#partner_area{
	height: 17vw;
}

#social_links{
	height: 3vw;
	display: flex;
}
.socialIcon{
	height: 3vw;  
	width: 3vw;
	margin: auto;
	background-size: cover;
	background-position: center;
}
.socialEmpty{
	width: 10vw;
}
#SocialCenter{
	width: 20vw;
	display: flex;
	justify-content: space-around;
}
/* Icons */
#fbIcon{
	background-image: url(../images/Social_Media_Icons/icons8-facebook-50.png);
}

#YTIcon{
	background-image: url(../images/Social_Media_Icons/icons8-youtube-squared-50.png);
}

#VKIcon{
	background-image: url(../images/Social_Media_Icons/icons8-vk.com-50.png);
}

#InstIcon{
	background-image: url(../images/Social_Media_Icons/icons8-instagram-50.png);
}

/* Sponsors/partner */
#sponsorArea{
	/* border: 1px solid white; */
	margin-top:1vw;
}

#sponsor-info {
	/* border: 1px solid white; */
	height: 10vw;
	display: flex;

}

.sponsorIcon{
	height: 6vw;  
	width: 6vw;
	margin: auto;
	background-size: cover;
	background-position: center;
}

#Sposor-1{
	background-image: url(../images/Sponsers/bjf.png);
}

#Sposor-2{
	background-image: url(../images/Sponsers/igwt.jpeg);
}

#Sposor-3{
	background-image: url(../images/Sponsers/KCA.png);
}

#Sposor-4{
	background-image: url(../images/Sponsers/litefit.png);
}

#Sposor-5{
	background-image: url(../images/Sponsers/RJJR.webp);
}

/* Copy rights */
#line{
	border:white 0.1px solid;
	width: 90vw;
	margin: auto;
}

#copyrights{
	font-family: "Roboto Mono", monospace;
}

/* alert */
#alert {
  padding: 20px 100px 20px 100px;
  border-radius: 50px;
  position: fixed;
  left: 3vw;
  bottom: 2vw;
  background-color: red;
  color: white
}

a:hover{
 font: bold;
}