/* Basics */

html{
	scroll-behavior: smooth;
}

body {
	margin: 0;
	color: white;
	text-align: center;
	font-size: 1vw;
	font-family: "Roboto";
	line-height: 1.5;
	background-color: rgb(25, 25, 25);
}

a{
	text-decoration: none;
	color: white;
}

section {
	padding: 10vw;
}

.heading {
	/* font-size: 2vw; */
	font-size: 40px;
	letter-spacing: 3px;
	margin-bottom: 2vw;
}

.subheading {
	font-size: 1.3vw;
	
}

.bgcolor{
	background-color: rgb(25, 25, 25);
}




/* header */

#NavigationBar {
	position: fixed;
	/* height: 6vw; */
	height: 35px;
	width: 60vw;
	padding-left: 20vw;
	padding-right: 20vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1vw;
	transition-duration: 0.3s;
	background-color: rgba(0, 0, 0, 0);
	z-index: 10;
}
	#menulogo{
		height: 30px;
		width: 30px;
		transition-duration: 0.3s;
	}
		#MenuItem-3image{
			height: 100%;
			width: 100%;
		}

		.navDecor{
			position: relative;
			/* font-size: 1.3vw; */
			font-size: 22px;
			letter-spacing: 2px;
			transition-duration: 0.5s;
		}

		.navDecor::after{
			content: '';
			width: 100%;
			height: 2px;
			background-color: #fff;
			position: absolute;
			left: 0;
			bottom: -3px;
			transform: scaleX(0);
			transform-origin: left;
			transition: transform .5s ease;
		}
		
		.navDecor:hover::after{
			transform: scaleX(1);
		}

		/* Active Section */


/* HeroPage */

#HeroPage {
	position: relative;
	padding: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	font-family: "Taviraj";
}
	#herovideo {
		position: fixed;
		top: 0;
		z-index: -1;
		height: 100%;
		width: 177.77777778vh;
		min-width: 100%;
		min-height: 56.25vw;
		/* position: absolute; */
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background-color: rgb(173, 173, 173);
		filter: grayscale(100%);
	}
		#herocontent {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			-webkit-text-stroke: 1px rgba(0, 0, 0, 0.25);
		}
			#herocontent-1 {
				font-size: 1.5vw;
				letter-spacing: 0.3vw;
			}
			#herocontent-2 {
				width: 80vw;
				margin: auto;
				font-size: 5vw;
				letter-spacing: 1vw;
			}




/* WhyBJJ */

#whybjjheading {
	margin-bottom: 2vw;
}
#whybjjcontent {
	/* border: 1px solid white; */
	display: flex;
	/* justify-content: center; */
	justify-content: space-around;
	/* flex-direction: row; */
}
	.whybjjitem {
		/* width: 15vw; */
	}
		.WhybjjIcon {
			
			filter: invert(1);
			margin: auto;
			margin-bottom: 1vw;
			/* height: 2vw;
			width: 2vw; */
			height: 50px;
			width: 50px;
			background-size: cover;
			background-position: center;
		}
			#whybjjicon-1 {
				background-image: url(../images/icons/Icon1.png);
			}
			#whybjjicon-2 {
				background-image: url(../images/icons/Icon2.png);
			}
			#whybjjicon-3 {
				background-image: url(../images/icons/Icon3.png);
			}
			#whybjjicon-4 {
				background-image: url(../images/icons/Icon4.png);
			}
			#whybjjicon-5 {
				background-image: url(../images/icons/Icon5.png);
			}
		.whybjjitemsubheadung {
			font-size: 20px;
			letter-spacing: 2px;
			margin-bottom: 0.5vw;
		}




/* Parallax1 */

#Parallax1 {
	height: 10vw;
	background-image: url(../images/parallax1.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}




/* Schedule */

#Schedule {
	background-color: rgb(25, 25, 25);
}
	#scheduleheading {
		margin-bottom: 2vw;
	}
	.schedulerow {
		display: flex;
		/* justify-content: space-around; */
	}
		.schedulecontent {
			/* font-size: 15px; */
			/* letter-spacing: 1px; */
			margin: 1vw;
			width: 10vw;
		}




/* Trainers */

#Trainers {
	padding-left: 2vw;
	padding-right: 2vw;
}
	#trainersheading {
		margin-bottom: 2vw;

	}
	#trainerscontent{
		display: flex;
		justify-content: space-between;
	}
		.trainerFont{
			/* -webkit-text-stroke: 1px black; */
			color: black;
		}

		.trainer {
			height: 40vw;
			width: 23vw;
			background-size: cover;
			background-position: center;
			position: relative;
			overflow: hidden;
		}


.trainerinfocontainer {
  background: rgba(1, 1, 1, 0.5);
  height: 40vw;
  width: 23vw;
  opacity: 0;
  position: absolute;
  bottom: 0px;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.trainer {
  position: relative;
  overflow: hidden;
  height: 40vw;
  width: 23vw;
  margin: 50px auto;
}

.trainer:hover img {
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -ms-filter: blur(1px);
  -o-filter: blur(1px);
  filter: blur(1px);
}

.trainer:hover .trainerinfocontainer {
  -webkit-opacity: 1;
  opacity: 1;
}

/* Aspects of trainers. */
.trainer #trainer1{
	height: 40vw;
  	width: 23vw;
}

.trainer #trainer2{
	height: 41vw;
  	width: 24vw;
}

.trainer #trainer3{
	height: 40vw;
  	width: 23vw;
}

.trainer #trainer4{
	height: 40vw;
  	width: 27vw;
}

.TrinerName{
	margin-top: 15vw;
	margin-bottom: 1vw;
	color: white;
}
.TrainerData{
	color: white;
}

/*

		 .trainerPosition{
			
		}

		.trainer:hover .imgtext {
			-webkit-opacity: 1;
			opacity: 1;
		  }

		.trainer:hover {
			filter: grayscale(100%);
		}

		.trainer:hover .trainerinfocontainer{
			opacity: 1;
			position: absolute;
			transition-duration: 0.5s;
		}

		img:hover{
			transition-duration: 0.5s;
			-webkit-filter: blur(5px);
		}


		#trainer1 {
			position: relative;
			background-image: url(../images/Trainers/chance.jpg);
			width:100%;
			height:100%;
			
		}
		#trainer2 {
			background-image: url(../images/Trainers/graf.jpg);
			
		}
		#trainer3 {
			background-image: url(../images/Trainers/Danya.jpg);
		}

		#trainer4 {
			background-image: url(../images/Trainers/trainer4.jpeg);
			background-size: 50vw;
		}
			.trainerinfocontainer {
				position: relative;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 18vw;
				opacity: 0;
				transition-duration: 0.3s;

			} */
				

			


/* Parallax2 */

#Parallax2 {
	height: 10vw;
	background-image: url(../images/parallax2.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}




/* Contact Form */

#contact_form {
	background-color: transparent;
	position: relative;
}
	#CenterAreaBgColor{
		
		background-color: rgb(25, 25, 25,0.8);
	}

	#contactheading {
		/* margin-bottom: 1vw; */
	}
		#ContactUs {
			display: flex;
			justify-content: space-around;
			/* padding-bottom: 0.5vw; */
			padding: 2vw;

		}
				.contact_content{
					/* margin-top: 1vw; */
					position: relative;
					width: 35vw;
					height: 30vw;
				}

				.test{
					border: 1px solid white;
				}
				#clubInfomation{
					margin: auto;
				}
					.contactInformationHeading{
						font-size: 1.5vw;
						font-family: 'Tinos', serif;
						text-decoration: underline;
						font-style: italic;
					}

					.formfield{
						display: block;
						margin: auto;
						margin-bottom: 1vw;
						height: 1vw;
						padding: 0.5vw;
						border-radius: 0.2vw;
						width: 20vw;
					}
					#formsendbutton{
						padding: 0;
						border: none;
						height: 2vw;
						width: 4vw;
						line-height: 2vw;
						border-radius: 0.2vw;
					}

	.address_contact{
		margin: 0vw;
		margin-left: 1vw;
		text-align: left;
	}

	#address{
		font-size: 2vw; 
	}

	#OtherInformation{
		font-size: 1.5vw;
	}

	#CallRequest{
		text-align: center;
		padding-top: 0.7vw;
		font-size: 1.2vw;
		font-style: italic;
	}

#sponsorArea {
		position: absolute;
		width: 100%;
}

	#sponsor-info {
		display: block;
		justify-content: space-between;
		/* height: 6vw;  */
	}

	#SponsorRowOne{
		display: flex;
	}

	#SponsorRowTwo{
		display: flex;
	}

		.sponsorIcon{
			display: block;
			height: 4vw;  
			width: 4vw;
			margin: auto;
			background-size: cover;
			background-position: center;
		}
		#Sposor-1{background-image: url(../images/Sponsers/igwt.jpeg);}
		#Sposor-2{background-image: url(../images/Sponsers/bjf.png);}
		#Sposor-3{background-image: url(../images/Sponsers/KCA.png);}
		#Sposor-4{background-image: url(../images/Sponsers/Tattoo3000.png);}
		#Sposor-5{background-image: url(../images/Sponsers/fightwear.png);}
		.bottomRowSponsor{
			border-radius: 0%;
			width: 12vw;
			height: 3vw; 
			margin-top: 0.5vw;
			margin-bottom: 0.5vw;
			background-size: 100% auto;
			background-repeat: no-repeat;
		}

		#social_links{
			display: flex;
			margin: auto;
			width: 50%;
			justify-content: space-around;
			position: absolute;
			bottom: 0;
			left:25%;

		}
			.socialIcon{
				height: 2vw;  
				width: 2vw;
				margin: auto;
				background-size: cover;
				background-position: center;
			}
				#fbIcon{background-image: url(../images/Social_Media_Icons/icons8-facebook-50.png);}
				#YTIcon{background-image: url(../images/Social_Media_Icons/icons8-youtube-squared-50.png);}
				#VKIcon{background-image: url(../images/Social_Media_Icons/icons8-vk.com-50.png);}
				#InstIcon{background-image: url(../images/Social_Media_Icons/icons8-instagram-50.png);}

/* Partner */
.partner{
	border-radius: 3vw;
}

#copyrights{
	position: absolute;
	border-style: solid;
	border-color: white;
	border-width: 0;
	border-top-width: 0.05vw;
	height: 3vw;
	line-height: 3vw;
	bottom: 0;
	left: 0;
	width: 100vw;
	margin: 0px;
}


#AlertArea {
  padding: 10px 50px 10px 50px;
  border-radius: 50px;
  position: fixed;
  left: 1vw;
  bottom: 1vw;
  border: rgb(255, 153, 0) solid;
  background-color: rgb(255, 153, 0);
  color: black;
  font-size: 20px;
  display: flex;
  transition: all 0.1s ease-in; 
  
}

#callIconArea{
	height: 20px;
}

#call_icon{
	/* margin: auto; */
	height: 30px;
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}

/* Animation for call sign */
  @keyframes shake {
	 50%{ transform: translate(0vw, 0vw) rotate(10deg); }
  }

#alert{
	margin: auto;
}


#AlertArea:hover {
 cursor: pointer;
 transform: scale(1.1);
 transition: all 0.2s ease-out;
}





/* Pop Up Call Back */
.temp{
	border: 1px solid white;
}


.PopCallBack{
	background: rgba(0, 0, 0, 0.6);
	width: 100vw;
	height: 100vh;
	/* position:fixed will keep it at center for any view page */
	position: fixed;
	top: 0;
	justify-content: center;
	align-items: center;
	z-index: 16;
	display:none;
}

#pop_content{
	border: white 1px solid;
	background-color: rgba(0, 0, 0, 0.8);
	width: 20vw;
	height: 22vw;
	border-radius: 1vw;
	position: relative;
	display: block;
}

#OrderCallText{
	
}

/* Form Input area */

.callBackFont{
	font-size: 1.5vw
}

#form_Callback{
	display: block;
	height: 12vw;
}

.callbackform{
	text-align: center;
}

#cross{
	position: absolute;
	background: black;
	/* background-color: rgba(0, 0, 0, 0.8); */
	border: white 1px solid;
	color: white;
	height: 2vw;
	width: 2vw;
    top: -1vw;
	right: -1vw;
	border-radius: 1vw;
}
#cross:hover{
	cursor: pointer;
}

.NamePhoneArea{
	height: 6vw;
}

.NamePhone{
	text-align: left;
	padding-left: 1vw;
	
} 

.inputCallBack{
	box-sizing: border-box;
	margin:auto;
	width: 18vw;
	margin-top: 0.25vw;
	margin-bottom: 0.25vw;
	height: 2.5vw; 
	padding-left: 1vw ;
}

/* data processing */
#OrderCallDataProcess{
	padding-top: 0.5vw;
	height: 2vw;
	padding-bottom: 0.5vw;
	
}


#privacy{
	vertical-align: middle;
	font-size: 1vw;
}

#send{
	/* border: 1px solid green; */
	margin: auto;
	width: 75%;
	height: 3vw;
	font-size: 2vw;
	border-radius: 5vw;
	border: none;
    outline:none;
}
#send:hover{
	cursor: pointer;
}
