/* Media Query for Mobile (Size: L,M,S)  */
@media only screen and (max-width: 550px){

    #NavigationBar {
        position: fixed;
        height: 6vw;
        width: 60vw;
        padding-left: 20vw;
        padding-right: 20vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1vw;
        transition-duration: 0.3s;
        background-color: rgba(0, 0, 0, 0);
        z-index: 10;
    }
        #menulogo{
            height: 4vw;
            width: 4vw;
            transition-duration: 0.3s;
        }
            #MenuItem-3image{
                height: 100%;
                width: 100%;
            }
    
            .navDecor{
                position: relative;
                font-size: 1.3vw;
            }
    
            .navDecor::after{
                content: '';
                width: 100%;
                height: 2px;
                background-color: #fff;
                position: absolute;
                left: 0;
                bottom: -3px;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform .5s ease;
            }
    
            .navDecor:hover::after{
                transform: scaleX(1);
            }
    
    
    /* HeroPage */
    
    #HeroPage {
        position: relative;
        padding: 0;
        height: 50vh;
        width: 100vw;
        overflow: hidden;
        font-family: "Taviraj";
    }
        #herovideo {
            position: relative;
            top: 0;
            z-index: -1;
            height: 100%;
            width: 177.77777778vh;
            min-width: 100%;
            min-height: 56.25vw;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: rgb(173, 173, 173);
            filter: grayscale(100%);
        }
            #herocontent {
                position: absolute;
                width: 100vw;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                -webkit-text-stroke: 1px rgba(0, 0, 0, 0.25);
            }
                #herocontent-1 {
                    font-size: 4vw;
                }
                #herocontent-2 {
                    font-size:  10vw;
                }
    
    
    
    
    /* WhyBJJ */
    
    #whybjjheading {
        margin-bottom: 3vw;
    }
    #whybjjcontent {
        display: flex;
        justify-content: center;
    }
        .whybjjitem {
            width: 15vw;
        }
            .WhybjjIcon {
                filter: invert(1);
                margin: auto;
                margin-bottom: 1vw;
                height: 2vw;
                width: 2vw;
                background-size: cover;
                background-position: center;
            }
                #whybjjicon-1 {
                    background-image: url(../images/icons/Icon1.png);
                }
                #whybjjicon-2 {
                    background-image: url(../images/icons/Icon2.png);
                }
                #whybjjicon-3 {
                    background-image: url(../images/icons/Icon3.png);
                }
                #whybjjicon-4 {
                    background-image: url(../images/icons/Icon4.png);
                }
                #whybjjicon-5 {
                    background-image: url(../images/icons/Icon5.png);
                }
            .whybjjitemsubheadung {
                margin-bottom: 0.5vw;
            }
    
    
    
    
    /* Parallax1 */
    
    #Parallax1 {
        height: 10vw;
        background-image: url(../images/parallax1.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
    
    
    
    
    /* Schedule */
    
    #Schedule {
        background-color: rgb(25, 25, 25);
    }
        #scheduleheading {
            margin-bottom: 2vw;
        }
        .schedulerow {
            display: flex;
            justify-content: center;
        }
            .schedulecontent {
                margin: 1vw;
                width: 10vw;
            }
    
    
    

	/* Trainer Section */
	#Trainers {}
	#trainersheading {
		margin-bottom: 1vw;
	}
	#trainerscontent{
		display: block;
		justify-content: space-around;
		
	}
		.trainerFont{
			/* -webkit-text-stroke: 1px black; */
			color: black;
		}

		.trainer {
			margin: auto;
			height: 30vh;
			width: 50vw;
			background-size: cover;
			background-position: center;
			position: relative;
			overflow: hidden;
		}
		.trainer:hover {
			filter: grayscale(100%);
		}
		.trainer:hover .trainerinfocontainer{
			opacity: 1;
		}
		#trainer1 {
			background-image: url(../images/Trainers/trainer1.jpg);
		}
		#trainer2 {
			background-image: url(../images/Trainers/trainer2.png);
		}
		#trainer3 {
			background-image: url(../images/Trainers/trainer3.png);
		}
			.trainerinfocontainer {
				position: relative;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 18vw;
				opacity: 0;
				transition-duration: 0.3s;
			}
				.TrinerName{
					margin-bottom: 1vw;
				}
				.TrainerData{}

}